* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 24px;
}

.posts {
  max-width: 1000px;
  margin: 0 auto;
  padding: 18px 12px;
}

.navbar {
  padding: 12px;
  background: lightgray;
}

.links-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: all 0.1s;

  &.active {
    color: red;

    &:hover {
      color: red;
    }
  }

  &:hover {
    color: gray;
  }
}
