.pagination__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.pagination__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid teal;
  padding: 8px;
  width: 40px;
  margin-right: 2px;

  &:last-child {
    margin-right: none;
  }

  &.active {
    border: 2px solid orange;
    font-weight: bold;
  }
}
