.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  padding: 22px;
  border-radius: 6px;
  background: #fff;
  min-width: 300px;
}
